
body{
    background: #dbdbdb;
}



/*for TABLETS*/
@media only screen and (min-width: 500px)
{
    body{
        background: #ffc107;
    }

}



/*For DESKTOPS/LAPTOPS*/
@media only screen and (min-width: 780px)
{
    body{
        background: #069f58;
    }
}